body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    background: #F5F5F5;
}

* {
    box-sizing: border-box;
}

ul {
    list-style-type: none;
}

.nav-item:hover {
    color: #2196F3;
}

.weblogo span {
    color: #2196F3;
}

.email:hover {
    color: #2196F3;
}