body {
    font-family: 'Roboto', sans-serif;
    --black: #212121;
    --white: #FFFFFF;
}

* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul, ol {
    margin: 0;
    padding: 0;
    list-style: none;
}

.nav-item {
    font-weight: 500;
    font-size: 14px;
    color: #212121;
    letter-spacing: 0.02em;
    line-height: 1.14;
}

.nav-item:hover {
    color: #2196F3;
}

.nav-item:focus {
    color: #2196F3;
}

.weblogo {
    color: #000;
    font-size: 26px;
    font-weight: 700;
    line-height: 1.19;
    letter-spacing: .03em;
}

.weblogo span {
    font-family: 'Raleway', sans-serif;
    color: #2196F3;
}

.email {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.71;
}

.email:hover {
    color: #2196F3;
}

.email:focus {
    color: #188CE8;
}

.tel {
    font-weight: 500;
    font-size: 14px;
    color: #757575;
}

.tel:hover {
    color: #2196F3;
}

.tel:focus {
    color: #188CE8;
}

.title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    color: #fff;
}

.nazv {
    visibility: hidden;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    color: rgba(33, 33, 33, 1);
}

.important {
    font-weight: 700;
    font-size: 14px;
    letter-spacing: .03em;
    line-height: 1.14;
}


p {
    font-size: 14px;
    font-weight: 400;
    color: rgba(117, 117, 117, 1);
    letter-spacing: .03em;
    line-height: 1.71;
}

.btn {
    font-family: inherit;
    color: #fff;
    background: #188CE8;
    font-size: 16px;
    font-weight: 700;
    border-radius: 4px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    padding: 10px 32px;
    border: none;
}

.btn:hover {
    background: rgba(33, 150, 243, 1);
    cursor: pointer;
}

.btn:focus {
    color: rgba(33, 150, 243, 1);
}

.sectionone {
    background: #2F303A;
}

.lastname {
    font-weight: 500;
    font-size: 16px;
    margin-bottom: 10px;
}

.color {
    background: #F5F4FA;
}

.work {
    font-size: 16px;
    color: #757575;
}

.footer {
    background: #2F303A;
}

.weblogo--sm {
    color: #fff;
}

.email--two {
    color: rgba(255, 255, 255, 0.6);
    opacity: 60%;
    font-style: normal;
    line-height: 1.71;
}

.tel--two {
    color: rgba(255, 255, 255, 0.6);
    opacity: 60%;
    font-style: normal;
}

.tel--two:hover {
    color: #2196F3;
}

.tel--two:focus {
    color: #188CE8;
}

.street {
    font-size: 14px;
    color: #fff;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 0.03em;
    line-height: 1.71;
}

.street:hover {
    color: #2196F3;
}

.street:focus {
    color: #188CE8;
}

.h1two {
    visibility: hidden;
    color: #000;
}

.sec-menu {
    font-family: 'Roboto';
    font-size: 16px;
    font-weight: 500;
    line-height: 1.62;
    color: #212121;
    border-radius: 4px;
    border: none;
    cursor: pointer;
}

.sec-menu:hover {
    background: #2196F3;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
}

.sec-menu:focus {
    color: #2196F3;
}

.project {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}

.project p {
    font-size: 16px;
    color: #757575;
    line-height: 1.87;
    letter-spacing: 0.03em;
}